body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(29, 124, 179);
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0.5em 0;
    font-size: 1.2em;
}

.animated-picture {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.animated-picture img {
    width: 650px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1s; /* Adjust this delay as needed */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
